body{
  font-family: jockey one;
  margin: 0;
}
.museum_logo{
  height: 91px;
  width: auto;
  align-self: flex-start;
}
nav, #menu-checkbox{
  display: none;
}
#menu-checkbox:checked ~ nav{ 
  display: block;
  
}
nav{
  position: absolute;
  background: green;
  height: 100px;
  top: 30%;
  left: 50%;
}
nav a{
  display: block;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
header{
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  top: 0;
  background-color: white;
}
.hamburger-icon{
  font-size: 56px;
  position: relative;
  padding-right: 4%;
  align-self: flex-end;
}

footer{
  height: 470px;
  width: 100%;
  display:flex;
  flex-direction: column;
  background-color: white;
  margin: 20% 0% 0% 0%;
}
.footer-text-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-text-container p, .footer-text-container a{
  padding: 5%;
}
.footer-left-text{
  display: flex;
  flex-direction: column;
  justify-content:space-around ;
  text-align: left;
  width: fit-content;
}
.footer-right-text{
  text-align: right;
  width: 190px;
}
.footer-logo{
  height: 150px;
  width: auto;
  margin-top: 15%;
  align-self: center;
}
footer p{
  margin: 0%;
  padding: 0%;
}
footer a{
  text-decoration: none;
  color: black;
  font-size: 24px;
}
h1{
  font-size: 64px;
}
h2{
  font-size: 40px;
}
p{
  font-size: 24px;
}
/*Index*/
.background-index{
  background-color: rgba(204, 255, 214, 1);
}
.index-hamburger{
  color: green;
}
h1 a, h2 a{
  text-decoration: none;
  width: 65%;
  color: white;
}
.index-specials-background, .index-exhibitions-background, .index-explore-background{
  background-position: 30% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.index-exhibitions-background, .index-explore-background{
  height: 355px;
}
.index-specials-background{/*Borrowed code from W3-schools at https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hero_image*/
  background-image: linear-gradient(rgba(85, 81, 219, 0.4), rgba(85, 81, 219, 0.4)),
  url(../assets/images_and_icons/images/andrew-ruiz-348421-min.jpg);
  height: 710px;
}
.index-exhibitions-background{
  background-image: linear-gradient(rgba(125, 196, 168, 0.4),rgba(125, 196, 168, 0.4)), url(../assets/images_and_icons/images/mavis-cw-164128-min.jpg); 
}
.index-explore-background{
  background-image: linear-gradient(rgba(196, 125, 125, 0.55),rgba(196, 125, 125, 0.55)), url(../assets/images_and_icons/images/samuel-zeller-158996-min.jpg);
}
.index-specials-text a, .index-exhibitions-text a, .index-explore-text a{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
.index-text-wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(0, 78, 115, 1);
}
.index-text-wrapper p{
  font-size: 20px;
}
/*Specials*/
.background-specials{
  background-color: rgba(85, 81, 219, 1);
}
/*Exhibitions*/
.background-exhibitions{
  background-color: rgba(125, 196, 168, 1);
}
.ex-heading-cosmology{
  background-image: url(../assets/images_and_icons/images/cosmos-5809271_1280-min.png)
}
.ex-heading-evolution{
  background-image: url(../assets/images_and_icons/images/mammoth-1257288_1920-min.jpg);
}
.ex-heading-BioAndMed{
  background-image: url(../assets/images_and_icons/images/heart-2607178_1920-min.jpg);
}
.ex-heading-RobAndAI{
  background-image: url(../assets/images_and_icons/images/william-bout-264826-min.jpg);
}
.ex-heading-ecology{
  background-image: url(../assets/images_and_icons/images/ecology.jpeg);
}
/*Explore*/
.background-explore{
  background-color: rgba(196, 125, 125, 1);
}
.explore-heading-kids{
  background-image: url(../assets/images_and_icons/images/reading-2762010_1280-min.jpg);
  
}
.newton-image{
  width: 390px;
  height: auto;
}
/*Involved*/
.background-involved{
  background-color: rgba(125, 132, 196, 1);
}
/*Visit*/
.background-visit{
  background-color: rgba(125, 185, 196, 1);
}
.visit-h1{
  background-image: url(../assets/images_and_icons/images/luke-ellis-craven-400722-min.jpg);
  background-size: cover;
  background-position: center;
  height: 876px;
}
.visit-map-image{
  width: 340px;
  height: auto;
}
/*Contact*/

@media (min-width:600px){
  nav{
  display: block;
  position: static;
}
  .hamburger-icon{
  display: none;
}
nav a{
  display: inline-block;
}
}
